#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 440px;
  margin: 0 auto;
}

#main {
  max-width: 500px;
}

.title {
  font-size: 35px;
  margin: 10px 10px 10px 50px;
}

#letter-bank {
  margin: 30px 0 30px 0;
  min-width: 385px;
}

.box {
  height: 62px;
  width: 62px;
  margin: 3px;
  text-align: center;
  background-color: #efeef1;
}

.answer {
  min-width: 385px;
}

.answer-box {
  background-color: #fff;
}

.nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#stats-btn {
  margin-right: 0;
}

#settings-btn {
  margin-left: 0;
}

.nav .btn {
  padding: 10px;
  font-size: 20px;
  margin: 5px;
}

.btn {
  padding: 10px;
  font-size: 30px;
  margin: 10px 10px 0 10px;
  line-height: normal;
}

#button-container {
  min-width: 385px;
}

button {
  line-height: normal !important;
}

.btn-custom {
  color: #fff;
  background-color: #198759b3;
  border-color: #198759b3;
}

.btn-failure {
  color: #fff;
  background-color: #f14646ec;
  border-color: #f14646ec;
}

.double-letter {
  background-color: lightsteelblue;
}

.double-letter .letter {
  font-size: 14px;
}

.letter-placed.double-letter .letter {
  font-size: 38px;
}

.letter-placed.double-letter {
  background-color: lightsteelblue;
}

.triple-letter {
  background-color: steelblue;
}

.triple-letter .letter {
  font-size: 14px;
}

.letter-placed.triple-letter .letter {
  font-size: 38px;
}

.letter-placed.triple-letter {
  background-color: steelblue;
}

.letter-placed {
  font-size: 38px;
}

.letter {
  font-size: 38px;
  margin: 0px;
  padding: 0px;
}

.score {
  float: right;
  font-size: 15px;
}

.btn-link {
  color: grey !important;
}

.modal-content p {
  font-size: 20px;
}
