.title {
  font-size: 120px;
  margin: 50px;
}

#letter-bank {
  margin: 100px 0 100px 0;
}

.box {
  height: 135px;
  width: 135px;
  margin: 10px;
  text-align: center;
  background-color: #efeef1;
}

.answer-box {
  background-color: #fff;
}

.btn {
  padding: 40px;
  font-size: 70px;
  margin: 25px;
}

.btn-custom {
  color: #fff;
  background-color: #198759b3;
  border-color: #198759b3;
}

p {
  font-size: 80px;
  margin: 0px;
  padding: 10px;
}
