.title {
  font-size: 100px;
  margin: 50px 10px 50px 80px;
}

#letter-bank {
  margin: 100px 0 100px 0;
}

.box {
  height: 135px;
  width: 135px;
  margin: 10px;
  text-align: center;
  background-color: #efeef1;
}

.answer-box {
  background-color: #fff;
}

.nav .btn {
  padding: 10px;
  font-size: 50px;
  margin: 10px;
}

.btn {
  padding: 40px;
  font-size: 70px;
  margin: 25px;
}

.btn-custom {
  color: #fff;
  background-color: #198759b3;
  border-color: #198759b3;
}

.btn-failure {
  color: #fff;
  background-color: #f14646ec;
  border-color: #f14646ec;
}

.letter {
  font-size: 80px;
  margin: 0px;
  padding: 0px;
  height: 75px;
}

.score {
  float: right;
  margin-right: 4px;
}

.letter-tile {
  width: 120px;
  height: 120px;
}

.btn-link {
  color: grey !important;
}



.modal-content p {
  font-size: 20px;
}
